---
layout: default
title: Home
extracss: [project]
---

<!-- Description -->

{% markdown description.md %}

<!-- Active Open source Projects -->

{% if site.data.projects %}
	<h1>Active Projects</h1>
	<hr>

	{% assign alignment="left" %}
	{% for project in site.data.projects %}
		{% if project.active == true %}
			<div class="project-preview project-{{ alignment }}">
				<a href="{{ project.url }}">
					<div class="header">
						<div class="header-content">
							> {{ project.title }}
						</div>
					    {% if project.opensource %}
					      <div class="header-host">@ {{ project.opensource.host }}</div>
					      <div class="clear"></div>
					    {% endif %}
					</div>
				</a>
				<div class="content">
					{{ project.description }}
				</div>
				<div class="footer">
					{% for language in project.languages %}
						<div class="language">{{ language }}</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if alignment == "left" %}
			{% assign alignment="right" %}
		{% else %}
			{% assign alignment="left" %}
		{% endif %}
	{% endfor %}
	<div class="project-group-end"></div>
{% endif %}

<!-- Articles -->

<h1>Recent Articles</h1>
<hr>

{% for post in paginator.posts %}

	<article class="post">
		<h2><a href="{{ post.url }}" title="Click here to read: {{ post.title }}">{{ post.title }}</a></h2>
		<div class="post-content">

			{{ post.content | strip_html | truncate:256 }}
			{% if post.content | size > 256 %}
			    <a href="{{ post.url }}" rel=\"nofollow\" class=\"read-more\" title="Click here to read: {{ post.title }}">read more &raquo;</a>
			{% endif %}

		</div>

	</article>

{% endfor %}

{% if paginator.total_pages > 1 %}
	<p><a href="/blog/">Click here to see all my articles...</a></p>
{% endif %}