---
layout: default
title: Home
extracss: [project]
---

<!-- Description -->

{% markdown description.md %}

<!-- Active Open source Projects -->

{% if site.data.projects %}
	<h1 class="content-title">Active Projects</h1>

	{% for project in site.data.projects %}
		{% open_source_project preview project.host project.id project.languages project.active true %} <!-- force show stats -->
	{% endfor %}
	<div class="project-group-end"></div>
{% endif %}

<!-- Articles -->

<h1 class="content-title">Recent Articles</h1>

{% for post in paginator.posts %}

	<article class="post">
		<h2><a href="{{ post.url }}" title="Click here to read: {{ post.title }}">{{ post.title }}</a></h2>
		<div class="post-content">

			{{ post.content | strip_html | truncate:256 }}
			{% if post.content | size > 256 %}
			    <a href="{{ post.url }}" rel=\"nofollow\" class=\"read-more\" title="Click here to read: {{ post.title }}">read more &raquo;</a>
			{% endif %}

		</div>

	</article>

{% endfor %}

{% if paginator.total_pages > 1 %}
	<p><a href="/blog/">Click here to see all my articles...</a></p>
{% endif %}