.border-box
	box-sizing: border-box

.project-preview,
.project-preview p,
.project-portfolio,
.project-portfolio p,
.header,
.title,
.tags,
.footer,
.content,
.language,
.download,
.community,
.stars,
.forks,
.header-content,
.header-host,
.project-left,
.html5-content,
.html5-project,
.project-right,
.project
	@extend .border-box

/*** Project content ***/

.project-preview
	width: 100%
	height: 105px
	.content
		height: 50px

.project-portfolio
	width: 245px
	height: 140px

	.content
		height: 85px

.project-preview,
.project-portfolio
	margin: 5px 0
	padding: 0
	overflow: hidden
	float: left
	background-color: #052730
	border: 1px solid #073642

	.header-content,
	.content,
	.header-host,
	.language,
	.download
		padding: 2px 5px

	.header,
	.footer,
	.header-host
		height: 30px

	.language,
	.download
		height: 25px

	.header
		border-bottom: 1px solid #073642
		color: #cb4b16
		font-size: 1.2em

		&:hover
			background-color: #073642

	.header-content
		float: left
		font-weight: bold

	.header-host
		float: right
		font-size: 0.9em
		background-color: #073642
		color: #839496

	.content
		font-size: 0.9em

	.language,
	.download
		font-size: 0.9em
		background-color: #073642

	.language
		float: left
		border-right: 3px solid #052730

	.download
		float: right
		border-left: 3px solid #052730

	.community
		float: right
		color: #cb4b16

		.stars,
		.forks
			width: 60px
			text-align: right
			height: 25px
			padding: 5px
			color: #cb4b16

			&:hover,
			&:active,
			&:visited
				background-color: #073642
				border-color: #073642

		p
			margin-top: -3px

		.stars
			float: left
			background: url('/assets/images/star.png') no-repeat top 5px left 5px

		.forks
			float: right
			background: url('/assets/images/fork.png') no-repeat top 5px left 5px


	.project-award
		float: right
		width: 25px
		height: 100%
		background: url('/assets/images/award.png') no-repeat top left
		padding: 2px

.project-left
	margin-right: 5px

.project-right
	margin-left: 5px

.project-group-end
	clear: both
	height: 25px
	width: 100%

.project-featured
	width: 100%

.project-featured-header
	color: #cb4b16

/*** Project Page ***/

.project
	width: 100%

	.header
		width: 100%
		height: 60px
		margin-bottom: 15px

		.title
			width: 100%
			font-size: 1.4em
			font-weight: bold
			color: #cb4b16
			border-bottom: 3px solid #073642

	.tags
		width: 100%

		.language
			padding: 2px 5px
			margin-right: 3px
			float: left
			font-size: 1.1em
			background-color: #073642

	.website
		margin-bottom: 15px

.html5-project
	border: 5px solid #839496
	margin-top: 10px
	margin-bottom: 10px
	overflow: hidden

@media all and (max-width: 900px)
	.project-portfolio,
	.project-preview
		width: 100%
		height: 160px

		.content
			height: 105px

	.project-left, .project-right
		margin-right: 0px
		margin-left: 0px

@media all and (max-width: 325px)
	.project-portfolio,
	.project-preview
		.content
			font-size: 0.8em
