.secondary-mobile
	box-sizing: border-box
	color: #cb4b16
	padding-bottom: 20px

.rmm, .rmm-toggled-controls, .rmm-toggled
	box-sizing: border-box
	width: 100%
	float: left

.rmm-toggled-controls
	&:hover
		cursor: pointer
		background-color: #073642

.rmm-toggled-title, .rmm-button
	float: left

.rmm-button
	width: 40px
	display: block
	margin-right: 5px

	span
		display: block
		margin: 4px 0px 4px 0px
		height: 2px
		background: #cb4b16
		width: 25px

.rmm-main-list
	box-sizing: border-box
	width: 50%
	float: left
	display: inline

	li, li a
		box-sizing: border-box
		list-style: none
		width: 100%
		display: block
		text-align: center
		text-decoration: none
		border: 0

		&:hover, &:visited
			cursor: pointer
			background-color: #073642
			border: 0