#gameboy-help-article {
	position: absolute;
	margin-left: -80px;
	margin-top: -187px;
	width: 160px;
	height: 144px;
	display: block;
	background: #9E9715;
	font-size: 0.5em;
	z-index: 10;
}

#help-footer, #help-header {
	text-align: center;
}

#help-footer {
	width: 100%;
	font-size: 1.2em;
}

#help-header {
	font-size: 1.8em;
}

#gameboy-help-article ul {
	font-size: 1.3em;
	list-style-type: none;
	padding: 0px;
	margin: 5px 10px;
}

#gameboy-help-article li {
	margin: 0;
	padding: 0;
}

.help-control-text {
	display: inline;
	font-size: 1.5em;
}