---
layout: default
title: Blog
---

<div id="blog-archives">
	{% capture tMonth %}{{ "None" }}{% endcapture %}
	{% capture tYear %}{{ "1992" }}{% endcapture %}

	{% for post in site.posts %}

		{% capture postMonth %}{{ post.date | date: "%B" }}{% endcapture %}
		{% capture postyear %}{{ post.date | date: "%Y" }}{% endcapture %}

		{% if tYear != postyear %}
			{% capture tYear %}{{ postyear }}{% endcapture %}
			<h1 class="post-date-year">{{ tYear }}</h1>
		{% endif %}

		{% if tMonth != postMonth %}
			{% capture tMonth %}{{ postMonth }}{% endcapture %}
			<h2 class="post-date-month">{{ tMonth }}</h2>
		{% endif %}

		<article class="post">
			<div class="post-title"><h3><a href="{{ post.url }}" title="Click here to read: {{ post.title }}">{{ post.title | strip_html | truncate:42 }}</a></h3></div>
			<div class="post-date">{{ post.date | date: "%-d %B %Y" }}</div>
		</article>
	{% endfor %}

	<div class="clear"></div>

</div>
