---
layout: default
title: Blog
---

<script>
	$(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top
	        }, 500);
	        return false;
	      }
	    }
	  });
	});
</script>

<div id="blog-archives">
	{% capture tMonth %}{{ "None" }}{% endcapture %}
	{% capture tYear %}{{ "1992" }}{% endcapture %}

	{% for post in site.posts %}

		{% capture postMonth %}{{ post.date | date: "%B" }}{% endcapture %}
		{% capture postyear %}{{ post.date | date: "%Y" }}{% endcapture %}

		{% if tYear != postyear %}
			{% capture tYear %}{{ postyear }}{% endcapture %}
			<a href="#{{ tYear }}"><h1 class="post-date-year" id="{{ tYear }}">{{ tYear }}</h1></a>
		{% endif %}

		{% if tMonth != postMonth %}
			{% capture tMonth %}{{ postMonth }}{% endcapture %}
			<a href="#{{ tYear }}-{{ tMonth }}"><h2 class="post-date-month" id="{{ tYear }}-{{ tMonth }}">{{ tMonth }}</h2></a>
		{% endif %}

		<article class="post">
			<div class="post-title"><h3><a href="{{ post.url }}" title="Click here to read: {{ post.title }}">{{ post.title | strip_html | truncate:42 }}</a></h3></div>
			<div class="post-date">{{ post.date | date: "%-d %B %Y" }}</div>
		</article>
	{% endfor %}

	<div class="clear"></div>

</div>
