---
layout: default
title: Portfolio
extracss: [project]
---

{% assign alignment="left" %}
  
<!-- Open Source Projects -->

{% for project in site.data.projects %}

  <div class="project-preview project-{{ alignment }}">
    <a href="{{ project.url }}">
      <div class="header">
          <div class="header-content">
            > {{ project.title }}
          </div>
        {% if project.opensource %}
          <div class="header-host">@ {{ project.opensource.host }}</div>
          <div class="clear"></div>
        {% endif %}
      </div>
    </a>
    <div class="content">
      {{ project.description }}
    </div>
    <div class="footer">
      {% for language in project.languages %}
        <div class="language">{{ language }}</div>
      {% endfor %}

        {% if project.opensource and project.opensource.host == "GitHub" %}
          <div class="community">
            <a href="#share"><div class="stars" title="Star on {{ project.opensource.host }}!"><p>9999</p></div></a>
            <a href="#fork"><div class="forks" title="Fork on {{ project.opensource.host }}!"><p>9999</p></div></a>
          </div>
        {% else if project.awards %}
          <div class="project-award"></div>
        {% endif %}
    </div>
  </div>

  {% if alignment == "left" %}
    {% assign alignment="right" %}
  {% else %}
    {% assign alignment="left" %}
  {% endif %}

{% endfor %}

<!-- acrhived projects -->

{% for project in page.projects %}

    <div class="project-preview project-{{ alignment }}">
      <a href="/portfolio/{{ project[0] }}">
        <div class="header">
          <div class="header-content">
            > {{ project[1].title }}
          </div>
        </div>
      </a>
      <div class="content">
        {% if project[1].summary %}
          {{ project[1].summary }}
        {% else %}
          {{ project[1].description | truncate:175 }}
        {% endif %}
      </div>
      <div class="footer">
        {% for technology in project[1].technology %}
          <div class="language">{{ technology }}</div>
        {% endfor %}

        {% if project[1].awards %}
          <div class="project-award"></div>
        {% endif %}
      </div>
    </div>

  {% if alignment == "left" %}
    {% assign alignment="right" %}
  {% else %}
    {% assign alignment="left" %}
  {% endif %}

{% endfor %}

<div class="clear"></div>