---
layout: default
title: Portfolio
extracss: [project]
---

{% assign alignment="left" %}
  
<!-- Open Source Projects -->

{% for project in site.data.projects %}

  {% open_source_project alignment project.host project.id project.title project.description project.languages project.active %}

  {% if alignment == "left" %}
    {% assign alignment="right" %}
  {% else %}
    {% assign alignment="left" %}
  {% endif %}

{% endfor %}

<!-- acrhived projects -->

{% for project in page.projects %}

    <div class="project-portfolio project-{{ alignment }}">
      <a href="/portfolio/{{ project[0] }}">
        <div class="header">
          <div class="header-content">
            > {{ project[1].title }}
          </div>
        </div>
      </a>
      <div class="content">
        {% if project[1].summary %}
          {{ project[1].summary }}
        {% else %}
          {{ project[1].description | truncate:175 }}
        {% endif %}
      </div>
      <div class="footer">
        {% for technology in project[1].technology %}
          <div class="language">{{ technology }}</div>
        {% endfor %}

        {% if project[1].awards %}
          <div class="project-award"></div>
        {% endif %}
      </div>
    </div>

  {% if alignment == "left" %}
    {% assign alignment="right" %}
  {% else %}
    {% assign alignment="left" %}
  {% endif %}

{% endfor %}

<div class="clear"></div>