---
layout: default

HannesD:
  name: Hannes Delbeke
  website: http://hannesdelbeke.com/

JoeriV:
  name: Joeri Vromman
  website: http://joerivromman.com/

WimVB:
  name: Wim van Brussel
  website: http://mindschnapps.blogspot.co.uk/

SvenR:
  name: Sven Roels

MaartenM:
  name: Maarten Maene
---

<div class="span10">
  <h1>{{ page.title }}</h1>

  {% if page.technology %}
    <tr>
    {% for technology in page.technology %}
      <td>{{ technology }}</td>
    {% endfor %}
    </tr>
  {% endif %}

  {% if page.video %}
    {% if page.video.host == "YouTube" %}
      <iframe width="500" height="280" src="//www.youtube.com/embed/{{ page.video.id }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  {% endif %}

  <p>{{ page.description }}</p>

  {% if page.website %}
    <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
  {% endif %}

  {% if page.team %}
    <div class="project-team">
      <h2>I couldn't do this project without my team:</h2>
      <ul>
      {% for member in page.team %}
        {% if page[member].website %}
          <li><a href="{{ page[member].website }}">{{ page[member].name }}</a></li>
        {% else %}
          <li>{{ page[member].name }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

{% if page.awards %}
  <h2>Award</h2>
  {% for award in page.awards %}
    <div class="project-award">
      <p>{{ award.description }}</p>
      {% if award.recommendation %}
        <div class="award-recommendation">
          <p>This is what {{ award.recommendation.name }} has to say about it:</p>
          <blockquote>{{ award.recommendation.quote }}</blockquote>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}

{% if page.endorsements %}
  <div id="endorsements" class="span16">
    <h3>What {{ page.title }} had to say about us:</h3>

    {% for endorsement in page.endorsements %}
      <blockquote>
        {{ endorsement.body }}
        <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
      </blockquote>
    {% endfor %}
  </div>
{% endif %}

<p><a href="/portfolio">&laquo; back to projects archive</a></p>