---
layout: default
extracss: [project]
---

<div class="project">
  <div class="header">
    <div class="title">{{ page.title }}</div>
    {% if page.technology %}
    <div class="tags">
      {% for technology in page.technology %}
        <div class="language">{{ technology }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="clear"></div>

  {% if page.video %}
    {% if page.video.host == "YouTube" %}
      <iframe width="500" height="280" src="//www.youtube.com/embed/{{ page.video.id }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  {% endif %}

  {% if page.demo %}
    {% if page.demo.type == "HTML5" %}
      <iframe width="page.demo.width" height="page.demo.height" src="/assets/projects/{{ page.demo.name }}" frameborder="0"></iframe>
    {% endif %}
  {% endif %}

  <p>{{ page.description }}</p>

  {% if page.website %}
    <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
  {% endif %}

  {% if page.job %}
    <p class="project-job">I was a {{ page.job.title }} at 
    {% if page.job.website %}
      <a href="{{ page.job.website }}">{{ page.job.company }}</a>
    {% else %}
      {{ page.job.company }}
    {% endif %}
     during this project.</p>
  {% elsif page.team %}
    <div class="project-team">
      <h2>I couldn't do this project without my team:</h2>
      <ul>
      {% for member in page.team %}
        {% if site.data.partners[member].website %}
          <li><a href="{{ site.data.partners[member].website }}">{{ site.data.partners[member].name }}</a></li>
        {% else %}
          <li>{{ site.data.partners[member].name }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.awards %}
    <h2>Awards and achievements</h2>
    {% for award in page.awards %}
      <div class="project-award">
        <p>{{ award.description }}</p>
        {% if award.recommendation %}
          <div class="award-recommendation">
            <p>This is what {{ award.recommendation.name }} had to say about it:</p>
            <blockquote>{{ award.recommendation.quote }}</blockquote>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>

<p><a href="/portfolio">&laquo; back to projects archive</a></p>